#contact
    background-color: rgb(249,248,254)
    padding: 4rem
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    h4
        font-family: 'Poppins', sans-serif
    p
        font-family: 'Open Sans', sans-serif
    .cards
        width: 100%
    .ligne1
        display: grid
        grid-template-columns: 2fr 1fr 1fr
        gap: 2rem
        margin-bottom: 2rem
    .ligne2
        display: grid
        grid-template-columns: repeat(2,1fr)
        gap: 2rem
    .card_9
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        background-color: white
        padding: 2rem
        box-shadow: 0 5px 15px -3px rgba(0,0,0,0.1)
        i
            color: rgb(88,70,249)
    .iframe
        padding: 0
        iframe
            width: 100%
            height: 100%
    form
        display: grid
        gap: 1rem
        width: 100%
        input, textarea
            border: 1px solid rgb(221, 220, 223)
            padding: 1rem
            border-radius: 5px
            font-family: 'Open Sans', sans-serif
        .button_form
            display: flex
            justify-content: center
            align-items: center
        button
            width: fit-content
            background-color: rgb(78, 61, 249)
            color: white
            border-radius: 5px
            border-color:  rgb(78, 61, 249)
            padding: 1rem
            font-family: 'Open Sans', sans-serif
            
        div
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 1rem
@media screen and (max-width: 768px)
    #contact
        .ligne1
            grid-template-columns: 1fr
        .ligne2
            grid-template-columns: 1fr
        form
            div
                grid-template-columns: 1fr
@media screen and (max-width: 978px)  and (min-width: 577px)
    .ligne2
        grid-template-columns: 1fr !important