#counts
    display: flex
    justify-content: space-evenly
    align-items: center
    flex-direction: row
    background-image:  url("../../../public/images/counts-bg.png")
    color: white
    padding: 4rem
    div
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
@media screen and (max-width: 576px)
    #counts
        flex-direction: column
        div
            h2
                margin-bottom: 0