#faq
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%)
    color: white
    padding: 4rem
    hr
        background-color: rgb(198,174,246)
        border: 1px solid rgb(198,174,246)
    .accordions
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        row-gap: 1rem
    .accordion
        cursor: pointer
        background-color: white
        padding: 1rem
        overflow-y: hidden
        height: 50px
        p
            font-family: 'Open Sans', sans-serif
    .div_accordion
        position: relative
        color: rgb(88,70,249)
        display: flex
        justify-content: flex-start
        align-items: center
        flex-direction: row
        column-gap: 1rem
        p
            font-weight: 700
    .texte_accordion
        color: black
        margin: 1rem
    .actif
        height: 100px
        transition: height 1s
    .actifno
        height: 50px
        transition: height 1s
    .chevron_a
        position: absolute
        right: 0
@media screen and (max-width: 520px)
    #faq
        padding: 2rem
        .actif
            height: 250px !important
@media screen and (max-width: 768px) and (min-width: 521px)
    #faq
        padding: 2rem
        .actif
            height: 200px !important