header
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("../../../public/images/hero-bg.jpg") center center no-repeat
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: row
    height: 100vh
    padding: 4rem
    color: white
    font-family: 'Poppins', sans-serif
    div
        width: 40%
        button
            border-radius: 5px
            background-color: transparent
            color: white
            border: 1px solid white
            padding-left: 1rem
            padding-right: 1rem
            padding-top: 0.5rem
            padding-bottom: 0.5rem
            font-family: 'Open Sans', sans-serif
    img
        min-width: 30%
        max-width: 40%
        animation: mvt 2s infinite alternate
    @keyframes mvt
        to 
            margin-top: 2rem
@media screen and (max-width: 768px)
    header
        flex-direction: column-reverse
        img
            width: 50%

