#section_3
    background-color: rgb(249,248,254)
    padding: 4rem
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    .service
        display: flex
        justify-content: center
        align-items: center
    .cards_service
        display: grid
        grid-template-columns: repeat(3,1fr)
        gap: 1rem
        .fi-xtluxl-piano-thin
            color: rgb(61, 165, 255)
        .gg-games
            color: rgb(255, 162, 106)
        .fi-ctldxl-clock-thin
            color: rgb(227, 0, 93)
        .fi-xnluxl-tv
            color: rgb(254, 178, 38)
        .fi-xnluxl-building
            color: rgb(253, 77, 36)
        .gg-coffee
            color: rgb(16, 213, 200)
    .card_service
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        background-color: white
        padding: 2rem
        h4
            color: rgb(45,73,100)
        &:hover
            color: white
            i
                color: white
        &:first-of-type:hover
            background-color: rgb(61, 165, 255)
        &:nth-of-type(2):hover
            background-color: rgb(255, 162, 106)
        &:nth-of-type(3):hover
            background-color: rgb(227, 0, 93)
        &:nth-of-type(4):hover
            background-color: rgb(254, 178, 38)
        &:nth-of-type(5):hover
            background-color: rgb(253, 77, 36)
        &:last-of-type:hover
            background-color: rgb(16, 213, 200)