@import ./_header
@import ./_navbar
@import ./_about
@import ./_counts
@import ./_services
@import ./_features
@import ./_testimonials
@import ./_current_tech
@import ./_pricing
@import ./_faq
@import ./_contact
@import ./_footer

html
    scroll-behavior: smooth
body
    cursor: url('../../../public/images/cursor1.png'), auto
    .li_dropdown, nav a, button, #current_tech h4, #pricing .oval,#pricing .card_7, #faq .accordion, footer a, footer .input input:nth-of-type(2), .btn_top, .titre h2
        cursor: url('../../../public/images/cursor2.png'), auto
    margin: 0
    padding: 0
    .titre
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        h2
            font-family: 'Poppins', sans-serif
        p
            text-align: center
            font-family: 'Open Sans', sans-serif
        hr
            width: 3rem
            margin-top: 0
            height: 0.1rem
            background-color: rgb(88,70,249)
            border: 1px solid rgb(88,70,249)
    .none
        display: none !important
    .btn_top
        position: fixed
        bottom: 1rem
        right: 1rem
        width: 2.5rem
        height: 2.5rem
        border-radius: 5px
        background-color: rgb(88, 70, 249)
        color: white
        text-decoration: none
        display: flex
        justify-content: center
        align-items: center
        border: none
        z-index: 1
    .dark_mode
        width: 3rem
        height: 3rem
        background-color: transparent
        border: 1px solid white
        color: white
        border-radius: 50%
        display: grid
        place-items: center
        position: fixed
        top: 0.5rem
        right: 1rem
        z-index: 4
        box-shadow: 0 5px 15px -3px rgba(255,255,255,0.5)
    .gg-sun
        transform: rotate(360deg)
        transition: all 1s
    .gg-moon
        transform: rotate(-450deg)
        transition: all 1s
@media screen and (max-width:400px)
    .dark_mode
        left: 60%
        width: 2rem
        height: 2rem
body.darkM
    cursor: default
    .li_dropdown, nav a, button, #current_tech h4, #pricing .oval,#pricing .card_7, #faq .accordion, footer a, footer .input input:nth-of-type(2), .btn_top, .titre h2
        cursor: pointer
    #about
        background-color: $mauve 
        color: white
        h2
            color: white
    #services
        background-color: $bleu
        .titre
            color: white
        .card_service
            box-shadow: inset 0 0 0 500px rgba(132,113,157,0.4)
    #features
        background-color: $mauve
        color: white
    #testimonials
        background-color: $bleu 
        color: white
        .item
            background-color: $gris
            color: black
            filter: drop-shadow(0 0 0.2rem rgba(255,255,255,0.4))
        .user_item
            filter: drop-shadow(0 0 0.2rem rgba(255,255,255,0.4))
        .div_car
            color: white
    #current_tech
        background-color: $mauve
        color: white
    #pricing
        background-color: $bleu
        color: white
        h4
            color: white
        .btn_7
            background-color: $bleu
        .card_7
            background-color: $gris
            color: black
            filter: drop-shadow(0 0 0.2rem rgba(255,255,255,0.4))
        .info
            background-color: $mauve
            color: white
        .card_7:nth-of-type(2)
            background-color: rgb(88,70,249)
            .div_btn7
                background-color: $gris
        .prix
                h3
                    color: $gris 
                h2
                    color: $gris
    #faq
        .accordion
            background-color: $mauveF
        .texte_accordion
            color: rgba(255,255,255,0.7)
        .div_accordion
            color: white
    #contact
        background-color: $mauve
        color: white
        i
            color: $mauve
        .card_9
            filter: drop-shadow(0 0 0.2rem rgba(255,255,255,0.2))
            background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%)
            input, textarea
                background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%)
                color: rgba(255, 255, 255, 0.6)
                border: 1px solid rgba(255, 255, 255, 0.3)
            button
                color:  rgba(255, 255, 255, 0.6)
                border-color:  $mauve
                background-color: $mauve
